<%- include('partials/header')%>
<div class="abtcont">
         
        <div class="content">
            <h2>About Us</h2>
             <h2>Welcome to KBAMENS Hostel</h2>
            <p>KBAMENS Hostel is a premier student accommodation providing a safe, comfortable, and affordable living experience. Our hostel is designed to ensure a homely environment while maintaining high standards of security and convenience.</p>
            <p>With well-maintained rooms, essential amenities, and a friendly community, we strive to make your stay as enjoyable and productive as possible. Join us and experience a welcoming atmosphere at KBAMENS Hostel.</p>
        </div>
    </div>

<%- include('partials/footer')%>
