body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;  
    overflow: hidden;  
}


.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://images.shiksha.com/mediadata/images/1624206692phpBHKAwS.jpeg");
    background-size: cover;
    background-position: center;
    filter: blur(6px);
    z-index: -1;  
}

.login-container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    text-align: left;
}

.login-container input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: calc(100% - 40px);
    padding-right: 30px;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
}

.login-container input.error {
    border-color: red;
}

.login-container .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-container .submit-button:hover {
    background-color: #555;
}

.login-container a {
    display: block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #555;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.close-button:hover {
    color: #000;
}

.regandfor {
    display: flex;
    justify-content: space-between;
}
