body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 100%;
}
h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
.input-container {
    position: relative;
    margin-bottom: 15px;
}
input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.input-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
button:hover {
    background-color: rgb(58, 55, 55);
}
.message {
    margin-top: 10px;
    font-size: 14px;
}
.message.success {
    color: #28a745;
}
.message.error {
    color: #dc3545;
} 